:root {
    background-color: #E6E6E6;
    box-sizing: border-box;
}
section, div {
    background-color: #E6E6E6;
}
h5 {
    font-size: 1.5em;
}
h5, h4, h1 {
    font-family: 'Anton', sans-serif;
}
p {
    background-color: #E6E6E6;
    font-family: 'Abel', sans-serif;
}
.badge {
    font-family: 'Anton', sans-serif;
}
#brandName, #navItems {
    font-family: 'Abel', sans-serif;
}
#brandName {
    font-size: 32px;
}
#largerImages {
    margin-top: 35px;
    width: inherit;
}

#logo {
    width: 105px;
    height: 105px;
}
#design, #smallDesign {
    background-color: #E6563B;
}
#develop, #smallDevelop {
    background-color: #DEA03D;
}
#support, #smallSupport {
    background-color: #7CB06C;
}
#host, #smallHost {
    background-color: #00ABA9;
}
#design, #develop, #support, #host {
    border: white solid 7px;
    padding-top: 35px;
    margin: auto;
}
#smallNav p {
    font-size: 32px;
}

@media screen and (max-width:575px) {
    img {
        margin-top: -28px
    }
    p {
        text-align: center;
    }
    #circleContainer {
        max-width: 250px;
        width: 100%;
    }
    #design, #develop, #support, #host {
        max-width: 105px;
        width: 100%;
    }
    #designContainer, #developContainer, #supportContainer, #hostContainer {
        max-width: 150px;
    }
}
@media screen and (min-width:576px) and (max-width:767px) {
    #circleContainer {
        max-width: 350px;
        width: 100%;
    }
    #centerCircles {
        line-height: 20px;
    }
    #design, #develop, #support, #host {
        width: 105px;
    }
}

@media screen and (max-width:767px) {
    #selectedWork {
        text-align: center;
    }
}
